<div class="top-nav">
    <img id="logoNav" src="" alt="Logo Henrifarma" />
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#">Usuário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="home.html">Voltar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Encerrar Sessão</a>
        </li>
    </ul>
</div>